/* Login.css */

/* Reset some default styles */
* {
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('./employee.jpeg'); /* Path to your background image */
    background-size: cover; /* Cover the entire screen */
    background-position: center; /* Center the image */
    margin: 0;
    padding: 0;
}

/* Container for the login form */
.login-container {
    max-width: 400px;
    margin: 100px auto; /* Center the container */
    padding: 30px;
    background: rgba(53, 6, 129, 0.9); /* Slightly transparent white background */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

/* Label styles */
label {
    margin-bottom: 10px;
    font-weight: bold;
}

/* Input styles */
input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Button styles */
button {
    padding: 13px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Error message styles */
.error {
    color: red;
    margin-top: 10px;
    text-align: center;
}